{% extends "../bases/base.njk" %}

{% block title %}Homepage{% endblock %}

{% block css %}index{% endblock %}
{% block js %}index{% endblock %}

{% block content %}
{% include "../layouts/banner.html" %}
{% include "../layouts/services.html" %}
{% include "../layouts/faq.html" %}
{% include "../layouts/contacts.html" %}
{% endblock %}