{% extends "../bases/base.njk" %}

{% block title %}Serviço{% endblock %}

{% block css %}service{% endblock %}
{% block js %}service{% endblock %}

{% block content %}
{% include "../layouts/details.html" %}
{% include "../layouts/other_services.html" %}
{% endblock %}

{% block script %}
<script>
  const str = "{{ getServices() }}".replace(/&quot;/ig, '"').replace(/&amp;/ig, '&')
  const services = JSON.parse(str);
  const urlParams = new URLSearchParams(window.location.search);
  const serviceId = urlParams.get('id');
  const service = services.filter(item => item.id == serviceId)[0]
  const other_services = services.filter(item => item.id != serviceId)
</script>
{% endblock %}