.team {
  .swiper-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .swiper-team {
    .swiper-slide {
      max-width: 272px;
      padding-left: 20px;

      &:last-of-type {
        max-width: 0px;
      }
    }
  }

  @include sm {
    .swiper-team {
      .swiper-slide {
        padding-left: 0px;

        &:last-of-type {
          display: none;
        }
      }
    }
  }
}