<section class="banner">
  <div class="container md:container">
    <div class="banner-content">
      <h1 class="text-3xl md:text-5xl text-mb-2 text-align-center">JR Lighting</h1>
      <p class="text-lg md:text-xl text-mb-4 text-align-center">Lorem ipsum dolor sit</p>
      <hr>
      <p class="text-sm md:text-xl text-mb-6 md:text-mb-8 text-align-center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet harum optio placeat cum vitae blanditiis ab
        iste, vel quae iure debitis dolorum maiores! Quibusdam tenetur itaque, debitis explicabo cumque iste.
      </p>
      <a href="#services" class="arrow-down">
        <img src="../../img/arrow-down.svg" alt="Arrow down">
      </a>
    </div>
  </div>
</section>