<section class="banner">
  <div class="container md:container">
    <div class="banner-content">
      <h1 class="text-3xl md:text-5xl text-mb-2 text-align-center">JR Lighting</h1>
      <p class="text-xs text-mb-4 text-align-center">Criando experiências, superando expectativas.</p>
      <hr>
      <p class="text-sm md:text-lg text-mb-6 md:text-mb-8 text-align-center">
        Oferecemos locação de equipamentos, mão de obra qualificada e projetos personalizados de palco e infraestrutura.
        Também fornecemos soluções completas em som, luz e imagem, garantindo o sucesso do seu evento.
      </p>
      <a href="#services" class="arrow-down">
        <img src="../../img/arrow-down.svg" alt="Arrow down">
      </a>
    </div>
  </div>
</section>