<section class="contacts section" id="contacts">
  <div class="container md:container">
    <h2 class="text-2xl text-color-light sm:text-3xl text-align-center text-mb-5 sm:text-mb-6">
      Contate-nos
    </h2>
    <p class="subtitle text-base text-color-light text-align-center text-mb-5 sm:text-mb-6">
      Entre em contato conosco e nossa equipe estará pronta para ajudar com suas necessidades e dúvidas.
    </p>
    <div class="g-root g-gap-0">
      <div class="g-row">
        <div class="g-item-12 md:g-item-4">
          <div class="contact-item">
            <img src="../../img/marker-white.svg" alt="Address" class="icon" />
            <h3 class="text-xl text-color-light text-align-center">
              Endereço
            </h3>
            <a class="text-base" href="{{contacts.address_link}}" target="_blank" rel="noopener noreferrer"
              target="_blank">{{contacts.address_name}}</a>
          </div>
        </div>
        <div class="g-item-12 md:g-item-4">
          <div class="contact-item dividers">
            <img src="../../img/phone-white.svg" alt="Telephone" class="icon" />
            <h3 class="text-xl text-color-light text-align-center">
              Telefone
            </h3>
            <a class="text-base" href="{{contacts.telephone_link}}" target="_blank">{{contacts.telephone}}</a>
          </div>
        </div>
        <div class="g-item-12 md:g-item-4">
          <div class="contact-item">
            <img src="../../img/mail-white.svg" alt="E-mail" class="icon" />
            <h3 class="text-xl text-color-light text-align-center">E-mail</h3>
            <a class="text-base" href="{{contacts.email_link}}" target="_blank">{{contacts.email}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="map">
      <iframe src="{{contacts.maps}}" width="600" height="312" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>