<section class="details section">
  <div class="container md:container">
    <h2 class="text-2xl text-color-light sm:text-3xl text-mb-5 sm:text-mb-6">
      Detalhes do Serviços
    </h2>
    <div class="g-root g-no-hidden g-gap-5 sm:g-gap-8">
      <div class="g-row">
        <div class="g-item-12 md:g-item-7">
          <figure class="aspect-ratio aspect-1-1 fit">
            <img :src="product.img" :alt="product.name" />
          </figure>
        </div>

        <div class="g-item-12 md:g-item-5">
          <article class="g-root g-no-hidden g-gap-4 md:g-gap-5">
            <div class="g-row">
              <header class="g-item-12">
                <h2 class="text-xl sm:text-lg md:text-2xl" v-text="`${product.name}`"></h2>
              </header>
              <section class="g-item-12">
                <hr>
              </section>
              <section class="g-item-12">
                <ul>
                  <li class="text-base text-mb-2">
                    <strong>Descrição:</strong> <span v-text="product.description"></span>
                  </li>
                </ul>
              </section>
              <section class="g-item-12">
                <hr>
              </section>
              <footer class="g-item-12">
                <a :href="product.whatsapp_link" class="gn-button pm-button small full" target="_blank">Pedir via
                  WhatsApp</a>
              </footer>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>