<aside class="menu" :class="{active: modal.menu}">
  <div class="menu-content">
    <button class="menu-button" @click="closeModal('menu')">Close menu</button>
    <nav>
      <a class="link" href="#services" @click="closeModal('menu')">Serviços</a>
      <a class="link" href="#portfolio" @click="closeModal('menu')">Portfólio</a>
      <a class="link" href="#team" @click="closeModal('menu')">Time</a>
      <a class="link" href="#faq" @click="closeModal('menu')">Perguntas</a>
      <a class="link" href="#contacts" @click="closeModal('menu')">Contatos</a>
    </nav>
    <img class="menu-logo" src="../img/logo.png" alt="Logo JR Lighting">
  </div>
</aside>