<section class="portfolio section" id="portfolio">
  <div class="container md:container">
    <h2 class="text-2xl text-color-light sm:text-3xl text-align-center text-mb-5 sm:text-mb-6">
      Portfólio
    </h2>
    <p class="subtitle text-base text-color-light text-align-center text-mb-5 sm:text-mb-6">
      Confira nosso portfólio e veja como entregamos soluções de qualidade para nossos clientes.
    </p>
  </div>

  <div class="container md:container swiper-container">
    <swiper :initial-slide="1" :effect="'coverflow'" :grab-cursor="true" :centered-slides="true"
      :slides-per-view="'auto'" :coverflow-effect="coverflowEffect" :navigation="true" :modules="modules"
      :lazy-pre-loader-class="'swiper-lazy-preloader'">
      <swiper-slide>
        <div class="aspect-ratio aspect-1-1 fit">
          <iframe width="300" height="300"
            src="https://www.youtube.com/embed/EIqCGAH9pE8?si=nx8OZir2_FABfL0z&autoplay=0&showinfo=0&controls=1&modestbranding=0&rel=0&playsinline=0&enablejsapi=1"
            title="YouTube video player" frameborder="0" allow="encrypted-media;"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-1-1 fit">
          <iframe width="300" height="300"
            src="https://www.youtube.com/embed/lj0g-kFXPlA?si=hR5r0KrYXj78eRPQ&autoplay=0&showinfo=0&controls=1&modestbranding=0&rel=0&playsinline=0&enablejsapi=1"
            title="YouTube video player" frameborder="0" allow="encrypted-media;"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-1-1 fit">
          <img src="../../img/portfolio1.webp" loading="lazy" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-1-1 fit">
          <iframe width="300" height="300"
            src="https://www.youtube.com/embed/PK7Rz65oafY?si=-_M1SNEkKlA_MEOC&autoplay=0&showinfo=0&controls=1&modestbranding=0&rel=0&playsinline=0&enablejsapi=1"
            title="YouTube video player" frameborder="0" allow="encrypted-media;"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-1-1 fit">
          <iframe width="300" height="300"
            src="https://www.youtube.com/embed/vpjWDvuP0xo?si=luaYaFnhTcu3aCCG&autoplay=0&showinfo=0&controls=1&modestbranding=0&rel=0&playsinline=0&enablejsapi=1"
            title="YouTube video player" frameborder="0" allow="encrypted-media;"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-1-1 fit">
          <img src="../../img/portfolio2.webp" loading="lazy" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-1-1 fit">
          <iframe width="300" height="300"
            src="https://www.youtube.com/embed/vUdAsbE0r0k?si=aFPXi0ZeHTRfUGoH&autoplay=0&showinfo=0&controls=1&modestbranding=0&rel=0&playsinline=0&enablejsapi=1"
            title="YouTube video player" frameborder="0" allow="encrypted-media;"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-1-1 fit">
          <iframe width="300" height="300"
            src="https://www.youtube.com/embed/GOEr4Fz7XVc?si=5Qd81tWBtlA8Hc5E&autoplay=0&showinfo=0&controls=1&modestbranding=0&rel=0&playsinline=0&enablejsapi=1"
            title="YouTube video player" frameborder="0" allow="encrypted-media;"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</section>