<section class="portfolio section" id="portfolio">
  <div class="container md:container">
    <h2 class="text-2xl text-color-light sm:text-3xl text-align-center text-mb-5 sm:text-mb-6">
      Portfólio
    </h2>
    <p class="subtitle text-base text-color-light text-align-center text-mb-5 sm:text-mb-6">
      Confira nosso portfólio e veja como entregamos soluções de qualidade para nossos clientes.
    </p>
  </div>

  <div class="container md:container swiper-container">
    <swiper :initial-slide="0" :breakpoints="breakpoints_coverflow" :grab-cursor="true"
      :slides-per-view="'auto'" :coverflow-effect="coverflowEffect" :navigation="true" :modules="modules"
      :lazy-pre-loader-class="'swiper-lazy-preloader'">
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <iframe src="https://drive.google.com/file/d/1jBFRlM__HnSXVqXB6DU00o6W_dapkbco/preview" width="480" height="640" allow="autoplay"></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <iframe src="https://drive.google.com/file/d/162JnSQZ4KyWiE1cNqWHn_LQGzIqygEg7/preview" width="480" height="640" allow="autoplay"></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <img src="../../img/portfolio1.webp" loading="lazy" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <iframe src="https://drive.google.com/file/d/1KKNCBZGe328Gx4hVjpZWGqKv4II8OxJN/preview" width="480" height="640" allow="autoplay"></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <iframe src="https://drive.google.com/file/d/17kj7t2_KQqKTOAWAePL0EOAvkdotTH0R/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <img src="../../img/portfolio3.webp" loading="lazy" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <iframe src="https://drive.google.com/file/d/14qR4FPL6aV4nwmy56Kayc-YNTtXKXjyi/preview" width="480" height="640" allow="autoplay"></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <img src="../../img/portfolio2.webp" loading="lazy" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <iframe src="https://drive.google.com/file/d/1M22y--cg5k0Km2PndjiOx_3mF1ZGeSyG/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="aspect-ratio aspect-16-9 invert fit">
          <iframe src="https://drive.google.com/file/d/1wd_oXa69rsLdkvW_OiI0_GpJe-F91o0d/preview" width="300" height="300" allow="autoplay"></iframe>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</section>