<section class="section" id="services">
  <div class="container md:container">
    <h2 class="text-2xl text-color-light sm:text-3xl text-align-center text-mb-5 sm:text-mb-6">
      Nossos Serviços
    </h2>
    <p class="subtitle text-base text-color-light text-align-center text-mb-5 sm:text-mb-6">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi praesentium veniam rerum, voluptatem impedit.
    </p>
    <div class="g-root g-no-hidden g-gap-4">
      <div class="g-row">
        {% for service in services %}
        {% if service.default_variant or service.size == None %}
        <div class="g-item-12 sm:g-item-6 md:g-item-4">
          <article class="card secondary">
            <a href="{{service.link}}">
              <figure class="aspect-ratio aspect-16-9 fit">
                <img src="{{service.img}}" alt="{{service.name}}" />
              </figure>
            </a>
            <div class="description">
              <h3 class="text-lg text-mb-1">
                <a href="{{service.link}}">
                  {{service.name}}
                </a>
              </h3>
              <p class="text-sm text-mb-3">
                {{service.short_description}}
              </p>
              <a href="{{service.whatsapp_link}}" class="gn-button pm-button small full" target="_blank">Pedir via
                WhatsApp</a>
            </div>
          </article>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>