<section class="section" id="team">
  <div class="container md:container">
    <h2 class="text-2xl text-color-light sm:text-3xl text-align-center text-mb-5 sm:text-mb-6">
      Nosso Time
    </h2>
    <p class="subtitle text-base text-color-light text-align-center text-mb-5 sm:text-mb-6">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi praesentium veniam rerum, voluptatem impedit.
    </p>
    <article class="card quaternary">
      <img class="icon" src="../../img/icon-placeholder.svg" alt="Icon">
      <h3 class="text-xl text-color-light">Lorem ipsum</h3>
      <p class="text-base text-mb-4 text-color-light">Lorem ipsum dolor sit</p>
      <p class="text-sm text-color-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem officia
        voluptatem id eveniet aperiam saepe dolorem dignissimos iste mollitia et.
      </p>
    </article>
  </div>
</section>