.card.quaternary {
  @include max-width(272px);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid $neutral-color-50;

  .icon {
    $icon-area: 96px;
    $border: 4px;
    @include square($icon-area);
    margin: 0px auto 16px;
    padding: $border;
    border-radius: 48px;
    @include linear-gradient($emerald-color-500, $cyan-color-500);

    img {
      @include square($icon-area - $border * 2);
      border-radius: 48px;
    }
  }
}