<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    JR Lighting | {% block title %}Default title{% endblock %}
  </title>
  <link rel="stylesheet" href="../css/pages/{% block css %}{% endblock %}.css" />
  <link rel="icon" type="image/x-icon" href="../../img/favicon.png">
  <meta name="theme-color" content="#0a0a0a" />

  <meta property="og:title" content="JR Lighting" />
  <meta property="og:type" content="website" />
  <meta name="twitter:description" content=" Criando experiências, superando expectativas.">
  <meta property="og:url" content="https://jrlighting.com.br/" />
  <meta property="og:image" content="https://jrlighting.com.br/img/logo.png" />
  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:site_name" content="JR Lighting">
  <meta name="twitter:image:alt" content="Logo JR Lighting">

  {#
  <meta property="fb:app_id" content="your_app_id" /> #}
  <meta name="twitter:site" content="@jrlighting.oficial">
</head>

<body>
  <div id="app">
    {% include "../layouts/contact_bar.html" %}
    {% include "../layouts/header.html" %}
    {% include "../layouts/menu.html" %}
    {% block content %}{% endblock %}
    {% include "../layouts/footer.html" %}
  </div>
  {% block script %}{% endblock %}
  <script src="../js/pages/{% block js %}{% endblock %}.js"></script>
</body>

</html>